{% extends 'admin/backend_layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/validation.js') }}"></script>
    <script src="{{ asset('js/editGoal.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="text-color-grey mt-15 text-uppercase">
        <h2>Employee</h2>
    </div>
    <div class="col-md-10 mt-54">
        {% set id = app.request.attributes.get('id') %}
        {% if id %}
            {% set formAction = path('admin_edit', { 'id': id }) %}
        {% else %}
            {% set formAction = path('admin_create') %}
        {% endif %}
        {{ form_start(form, {'attr': {'id': 'employee-form','method':'POST', 'action': formAction, 'novalidate': 'novalidate'} }) }}

        <div class="align-center">
            <div class="form-group mb-4 input-container ">
                <div class="input-label">
                    {{ form_label(form.name) }}
                </div>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group mb-4 input-container">
                <div class="input-label">
                    {{ form_label(form.email) }}
                </div>
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            
            <div class="form-group mb-4 input-container">
                <div class="input-label">
                    {{ form_label(form.password.first) }}
                </div>
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.password.first) }}
            </div>

            <div class="form-group mb-4 input-container">
                <div class="input-label">
                    {{ form_label(form.password.second) }}
                </div>
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password) }}
            </div>

            <div class="form-group mb-4 input-container">
                <div class="input-label">
                    {{ form_label(form.roles) }}
                </div>
                {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mb-4 input-container">
                <div class="input-label">
                    {{ form_label(form.department) }}
                </div>
                {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            {% if id is not null %}
                <div class="mt-5 mb-5">
                    <div class="form-group mb-4 input-container col">
                        <button type="button" class="btn btn-primary mr-10" data-bs-toggle="modal" data-bs-target="#goalsCategoryModal" data-url="{{ path('goal_create', { 'id': id }) }}" data-user-id="{{ id }}">Goals</button>
                    </div>
                    {{ form_widget(form.save) }}
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>

    <div class="text-center mt-15 ">
        <a href="{{ path('admin_list') }}"><i class="fa-solid fa-left-long"></i>  Back to list</a>
    </div>

    {% if id is not null %}
        {% include 'admin/modal/_goals_category.html.twig' %}
    {% endif %}

{% endblock %}