<tr class="align-middle" id="employee-row-{{ user.id }}">
    <td class="text-center">{{ user.name }}</td>
    <td class="text-center">{{ user.email }}</td>
    <td class="text-center client-action">
        <a href="{{ path('admin_show', {'id': user.id} )}}" ><i class="fa-solid fa-eye"></i></a>
        <a href="{{ path('admin_edit', {'id': user.id} ) }}"><i class="fa-solid fa-pencil"></i></a>
        <a href="{{ path('admin_delete', {'id': user.id} ) }}" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fa-solid fa-trash"></i>
        </a>
    </td>
</tr>
