{% extends 'login/layout.html.twig' %}

{% block title %}Forgot your password{% endblock %}

{% block javascripts %}   
    <script src="{{ asset('js/validation.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="forgotPasword">
        <h5>Forgot password</h5>

        {{ form_start(requestForm, {'attr': {'id': 'forgot-password-form','novalidate': 'novalidate'}}) }}
            
            <div class="form-group mb-4 input-container">
                <div class="input-label">
                    {{ form_label(requestForm.email) }}
                </div>
                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control sent_email'}}) }}
                {{ form_errors(requestForm.email) }}
            </div>

            <button class="btn btn-primary login" id = "forgot-password-submit">Submit</button>
        {{ form_end(requestForm) }}
        <div class="text-center">
        <a href="{{ path('app_login')}}" class="mt-5 mb-0">Back to Login</p></a>
    </div>
    </div>
    
{% endblock %}
